#header {
    background-color: rgb(62, 40, 158);
    height: 10vw;
    align-items: center;
}

#team{
    display: flex;
    background-color: white;
    justify-content: center;
    grid-row: span;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.standard-card {
    background-color: rgb(255, 255, 255);
    border: medium solid  rgb(235, 107, 3);
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    padding: auto;
}

.title-li {
    background-color: rgb(250, 156, 78);
    border-bottom: medium solid  rgb(235, 107, 3);
    padding: 8px;
    color: white;
    font-size: larger;
    font-weight: bold;
    height: fit-content;
}

.title-li ul {
    text-align: center;
}

.employee-info {
    background-color: white;
    height: fit-content;
    text-align: left;
}

ul {
    padding: 10px;
    margin: 0px;
}